<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.wit.myassignment">

    <application
        android:name=".main.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAssignment.NoActionBar">
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".ui.weighttracking.WeightTracker"
            android:exported="false" />

        <activity
            android:name="org.wit.myassignment.ui.auth.Login"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.wit.myassignment.ui.auth.Register">
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        </activity>
        <activity
            android:name=".ui.splashscreen.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.Home"
            android:exported="true"
            android:theme="@style/Theme.DrawerMenu.NoActionBar" />
        <activity
            android:name=".ui.workouts.TrainerListActivity"
            android:exported="true"
            android:theme="@style/Theme.MyAssignment.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.workouts.TrainerActivity" />
        <activity
            android:name=".ui.weighttracking.WeightList"
            android:exported="true"
            android:theme="@style/Theme.MyAssignment.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.weighttracking.Weights" />
        <activity
            android:name=".ui.bmi.BMI"
            android:exported="true"
            android:theme="@style/Theme.MyAssignment.NoActionBar"
            tools:ignore="DuplicateActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>